.DS_Store
*.avi
*.bak
*.mov
*.mp3
*.mp4
*.oga
*.ogg
*.ogv
*.sqlite
*.swp
*.wav
*.webm
*~
/local.json
/node_modules/
/user_published/
/cornpop/static/bower/
/cornpop/templates/basic/*.css
/cornpop/css/butter.ui.less.css
!locale/en_US/*
!locale/localeinfo.json
