# Copy this file to .env or just set these environment variables

# default port is 7777
export PORT=7777

# The externally accessible hostname you use to access this server
# Used for persona audience verification, and SSO proxying
export HOSTNAME="http://localhost:7777"

# API is available at mozilla/MakeAPI
# default API endpoint is http://makeapi.mofostaging.net
export MAKE_ENDPOINT="http://makeapi.mofostaging.net"

# API is available at mozilla/login.webmaker.org
# default Persona SSO is http://localhost:3000
export AUDIENCE="http://localhost:3000"

# Set NODE_ENV to development for testing
export NODE_ENV="development"

# Where can we find the login API endpoint
export LOGIN="http://login.mofostaging.net"

# What is our fully qualified login API acces point?
export LOGINAPI="http://testuser:password@login.mofostaging.net"

# And a cookie secret
export SESSION_SECRET="dummy secret value"
