<div class="butter-header">
<!-- maybe remove user_bar? -->
  <!--<script src="{{user_bar}}/js/sso-ux.js"></script>-->
  <script src="https://login.persona.org/include.js"></script>
  <header class="butter-header-primary">
    <div class="butter-logo"></div>
    <ul class="butter-nav">
      <li class="butter-breadcrumbs"></li>
      <li class="butter-save-container">
        <button class="butter-btn btn-green butter-save-btn">{{ gettext("Save") }}</button>
      </li>
      <li class="butter-preview-container">
        <a class="butter-preview-btn butter-btn btn-white butter-disabled"
           target="_blank"><span class="icon icon-only icon-share-alt"></span> {{ gettext("Preview") }}</a>
      </li>
      <li>
        <div id="make-details" class="butter-hidden">
          {% include "/layouts/make-details.html" %}
        </div>
      </li>
    </ul>
    <!-- webmaker user bar -->
    <div id="webmaker-nav">
      <nav class="webmaker-nav-container">
        <div class="lang-picker">
          <select id="lang-picker" data-supported="{{supportedLanguages}}">
          {% for language in listDropdownLang %}
            <option {% if languageNameFor(localeInfo.lang) == languageNameFor(language) %} selected="selected" {% endif %} value="{{language}}">{{ languageNameFor(language) }}</option>
          {% endfor %}
          </select>
        </div>
        <div class="butter-btn-menu-container butter-project-menu">
          <a class="butter-btn btn-white butter-project-menu-control butter-btn-menu-control"><span class="icon icon-only icon-reorder"></span></a>
          <ul class="butter-btn-menu">
            <li><a href="/{{localeInfo.lang}}/" target="_blank"> <span class="icon icon-file-alt"></span> {{ gettext("New") }}</a></li>
            <li><a href="https://support.mozilla.org/{{localeInfo.lang}}/products/webmaker/popcorn-maker" class="butter-help-btn" target="_blank"> <span class="icon icon-info"></span> {{ gettext("Help") }}</a></li>
            <li><a class="butter-clear-events-btn" target="_blank"> <span class="icon icon-remove"></span> {{ gettext("Clear Events") }}</a></li>
            <li><a class="butter-remove-project-btn" target="_blank"> <span class="icon icon-trash"></span> {{ gettext("Delete Project") }}</a></li>
          </ul>
        </div>

        <div class="webmaker-nav user-info">
          <div class="user">
              {{ gettext("Hi") }} <span id="identity" class="user-name-container"></span> <span class="icon icon-caret-down"></span>
          </div>
          <ul class="menu-container">
            <li><span class="icon icon-th-large"></span> <a href="{{audience}}/{{localeInfo.lang}}/me" target="_blank">{{ gettext("My makes") }}</a></li>
            <li class="login"><span class="icon icon-signout"></span>
<!-- this doesn't need to live inside the li anymore -->
<!-- I don't like display: none on these -->
              <div class="webmaker-login persona-button butter-hidden">
                <span class="text">{{ gettext("Sign in") }}</span><span class="tip"></span>
              </div>
              <span class="webmaker-logout butter-hidden">{{ gettext("Sign out") }}</span>
            {% if togetherjsEnabled %}
              <li><span class="icon icon-comments-alt"></span><button class="together-toggle">{{ gettext("Collaborate") }}</button></li>
            {% endif %}
            </li>
          </ul>
        </div>

        <div class="back-to-webmaker"><span class="icon webmaker-icon"></span> <a href="{{audience}}/{{localeInfo.lang}}">Webmaker.org</a></div>

      </nav>
    </div>
  </header>
</div>
