<div class="butter-header">
  <header class="butter-header-primary">
    <div class="butter-logo"></div>
    <ul class="butter-nav">
      <li class="butter-breadcrumbs"></li>
      <li class="butter-save-container">
        <button class="butter-btn btn-green butter-save-btn">{{ gettext("Save") }}</button>
      </li>
      <li class="butter-preview-container">
        <a class="butter-preview-btn butter-btn btn-white butter-disabled"
           target="_blank"><span class="icon icon-only icon-share-alt"></span> {{ gettext("Preview") }}</a>
      </li>
      <li>
        <div id="make-details" class="butter-hidden">
          {% include "/layouts/make-details.html" %}
        </div>
      </li>
    </ul>
    <!-- webmaker user bar -->
    <div id="webmaker-nav">
      <nav class="webmaker-nav-container">
        <div class="langPicker">
          {% include "/static/bower/webmaker-language-picker/template/partial.html" %}
        </div>
        <div class="butter-btn-menu-container butter-project-menu">
          <a class="butter-btn btn-white butter-project-menu-control butter-btn-menu-control"><span class="icon icon-only icon-reorder"></span></a>
          <ul class="butter-btn-menu">
            <li><a href="/{{localeInfo.lang}}/" target="_blank"> <span class="icon icon-file-alt"></span> {{ gettext("New") }}</a></li>
            <li><a href="https://support.mozilla.org/{{localeInfo.lang}}/products/webmaker/popcorn-maker" class="butter-help-btn" target="_blank"> <span class="icon icon-info"></span> {{ gettext("Help") }}</a></li>
            <li><a class="butter-clear-events-btn" target="_blank"> <span class="icon icon-remove"></span> {{ gettext("Clear Events") }}</a></li>
            <li><a class="butter-remove-project-btn" target="_blank"> <span class="icon icon-trash"></span> {{ gettext("Delete Project") }}</a></li>
          </ul>
        </div>

        <div class="webmaker-nav user-info">
          <div class="user">
            <img class="user-image butter-hidden">
            {{ gettext("Hi") }}
            <span id="identity" class="user-name-container">
              <a href="https://login.webmaker.org/en-US/account"></a>
            </span>
            <span class="icon icon-caret-down"></span>
          </div>
          <ul class="menu-container">
            <li><span class="icon icon-th-large"></span> <a href="{{audience}}/{{localeInfo.lang}}/me" target="_blank">{{ gettext("My makes") }}</a></li>
            <li class="login"><span class="icon icon-signout"></span>
              <button class="btn btn-primary join-button">{{ gettext("Join Webmaker") }}</button>
              <button class="btn btn-secondary-nav signin-button">{{ gettext("Sign in") }}</button>
              <span class="logout-button hidden">{{ gettext("Sign out") }}</span>
            {% if togetherjsEnabled %}
              <li><span class="icon icon-comments-alt"></span><button class="together-toggle">{{ gettext("Collaborate") }}</button></li>
            {% endif %}
            </li>
          </ul>
        </div>

        <div class="back-to-webmaker"><span class="icon webmaker-icon"></span> <a href="{{audience}}/{{localeInfo.lang}}">Webmaker.org</a></div>

      </nav>
    </div>
  </header>
</div>
