<div class="butter-header" data-butter-exclude>
  <script src="{{user_bar}}/js/sso-ux.js"></script>
  <header class="butter-header-primary">
    <div class="butter-logo"></div>
    <ul class="butter-nav">
      <li class="butter-breadcrumbs"></li>
      <li class="butter-project-title">
       <a class="butter-project-name">{{ gettext("My new project") }}</a><i class="icon icon-pencil"></i>
      </li>
      <li>
        <button class="butter-btn btn-green butter-save-btn">{{ gettext("Save") }}</button>
        <div class="butter-btn-menu-container butter-project-menu">
          <a class="butter-btn btn-light butter-project-menu-control butter-btn-menu-control"><span class="icon icon-only icon-cog"></span></a>
          <ul class="butter-btn-menu">
            <li><a class="butter-btn" href="/{{lang}}/" target="_blank"> {{ gettext("New") }}</a></li>
            <li><a class="butter-btn butter-clear-events-btn" target="_blank"> {{ gettext("Clear Events") }}</a></li>
            <li><a class="butter-preview-btn butter-btn btn-light butter-disabled"
                   target="_blank"><span class="icon icon-only icon-share-alt"></span> {{ gettext("Preview") }}</a></li>
            <li><a class="butter-project-btn butter-btn btn-light butter-disabled"
                   target="_blank"><span class="icon icon-only icon-edit"></span> {{ gettext("Project") }}</a></li>
          </ul>
        </div>
      </li>
    </ul>
    <!-- webmaker user bar -->
    <div id="webmaker-nav">
      <nav class="webmaker-nav-container">
        <div class="webmaker-nav user-info">
          <div class="user">
              {{ gettext("Hi") }} <span id="identity" class="user-name-container"></span> <span class="icon icon-caret-down"></span>
          </div>
          <ul class="menu-container">
            <li class="my-makes"><span class="icon icon-th-large"></span> <button>{{ gettext("My makes") }}</button></li>
            <li><span class="icon webmaker-icon"></span> <a href="{{audience}}">Webmaker.org</a></li>
            <li class="login"><span class="icon icon-signout"></span><iframe src="{{audience}}/sso/include.html" class="include-frame"></iframe>
              <div class="back-to-webmaker"><span class="icon webmaker-icon"></span> <a href="{{audience}}">Webmaker.org</a></div>
            </li>
          </ul>
        </div>
        <div class="tutorial-btn hidden"><button class="butter-btn btn-light">{{ gettext("Tutorials") }}</button></div>
      </nav>
      <div class="my-projects-container">
        <iframe class="my-projects-iframe"></iframe>
      </div>
      <div class="tutorial-list">
        <div class="tutorial-arrow"></div>
      </div>
    </div>
  </header>
</div>
