<div class="make-arrow"></div>
<form class="makeapi-details">
  <fieldset name="tags">
    <label>{{ gettext("Tags") }}:</label>
    <div class="tags-wrapper">
      <ul class="tags-output"></ul>
      <input type="text" class="tags-input" placeholder="{{ gettext("Type your tag here") }}">
    </div>
  </fieldset>
  <fieldset name="thumbnail">
    <label>{{ gettext("Thumbnail") }}:</label>
    <input type="text" class="input thumbnail-input">
    <ul class="thumbnail-choices input"></ul>
  </fieldset>
  <fieldset name="description">
    <label>{{ gettext("Description") }}:</label>
    <textarea class="input description-input" maxlength="200" placeholder="{{ gettext("A project about...") }}"></textarea>
  </fieldset>
  <fieldset name="buttons">
    <div class="confirmation-buttons">
      <span class="confirmation-button yes-button">Save</span>
      <span class="confirmation-button no-button">Cancel</span>
    </div>
  </fieldset>
</form>
