<!--  This Source Code Form is subject to the terms of the MIT license
      If a copy of the MIT license was not distributed with this file, you can
      obtain one at https://raw.github.com/mozilla/butter/master/LICENSE -->

<div class="butter-editor sequencer-editor allow-scrollbar">
  <h1>{{ gettext("Clip editor") }}</h1>
  <div class="butter-editor-body scrollbar-container">
    <div class="editor-options-wrapper scrollbar-outer">
      <div class="editor-options scrollbar-inner">

        <fieldset class="butter-editor-section media-properties">
          <label>{{ gettext("URL") }}</label>
           <textarea class="url two-lines" data-manifest-key="source"></textarea>

          <div class="fallback-container">
            <label>{{ gettext("Fallback") }}
              <span class="icon icon-only icon-question-sign">
                <span class="butter-tooltip">
                  {{ gettext("To support all browsers") }}
                </span>
              </span>
            </label>
            <textarea class="url two-lines" data-manifest-key="fallback"></textarea>
          </div>
        </fieldset>

        <fieldset class="butter-editor-section in-out butter-form-inline form-half">
          <div class="clip-duration" data-manifest-key="from" dir="ltr">
            <label class="clip-start">0:00</label>
            <label class="clip-end"></label>
            <div class="clip-section" dir="ltr">
              <span class="trimmer-resizable-handle trimmer-resizable-e" dir="ltr"></span>
              <span class="trimmer-resizable-handle trimmer-resizable-w" dir="ltr"></span>
            </div>
          </div>
          <div class="butter-form-append">
            <label>{{ gettext("In") }}</label>
              <input class="trimmer-input-left">
          </div>
          <div class="butter-form-append">
            <label>{{ gettext("Out") }}</label>
            <input class="trimmer-input-right">
          </div>
        </fieldset>

        <fieldset class="butter-editor-section video-toggler">
          <div class="butter-editor-inline">
            <label><span class="icon icon-film"></span>{{ gettext("Video") }}</label>
            <div>
              <div class="switch on" id="hidden-toggler">
                <input type="checkbox" data-manifest-key="hidden">
                <span class="switch-on">{{ gettext("on") }}</span>
                <span class="switch-off">{{ gettext("off") }}</span>
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset class="butter-editor-section">
          <div class="butter-editor-inline">
            <label><span class="icon icon-music"></span>{{ gettext("Audio") }}</label>
            <div>
              <div class="switch on" id="mute-toggler">
                <input type="checkbox" data-manifest-key="mute">
                <span class="switch-on">{{ gettext("on") }}</span>
                <span class="switch-off">{{ gettext("off") }}</span>
              </div>
            </div>
          </div>
          <div class="butter-editor-inline slider-container">
            <label>{{ gettext("Volume") }}</label>
            <div dir="ltr">
                <div class="butter-slider">
                  <span class="butter-slider-scrubber" dir="ltr"></span>
                  <label class="slider-start">0</label>
                  <div class="butter-tooltip butter-slider-tooltip tooltip-no-hover"></div>
                  <label class="slider-end">100%</label>
                </div>
            </div>
          </div>
        </fieldset>

        <fieldset class="butter-editor-section">
          <label>{{ gettext("Clip Title") }}</label>
          <input data-manifest-key="title">
        </fieldset>

        <div class="start-end-container"></div>

        <div class="error-message-container">
          <div class="error-message"></div>
        </div>
      </div>
    </div>
  </div>
</div>
