<div class="media-status-container" dir="ltr">
  <div class="time-bar" dir="ltr">
    <div class="time-bar-canvas-container" dir="ltr">
      <canvas dir="ltr"></canvas>
    </div>
    <div class="time-bar-scrubber-container" dir="ltr">
      <div class="total-bar" dir="ltr"></div>
      <div class="fill-bar" dir="ltr"></div>
      <div class="butter-tooltip butter-time-tooltip" dir="ltr">00:00:00</div>
      <div class="time-bar-scrubber-node" data-tooltip dir="ltr"></div>
      <div class="time-bar-scrubber-line" title="{{ gettext("time-bar-scrubber-line") }}" dir="ltr"></div>
    </div>
  </div>
  <div class="status-container" dir="ltr">
    <div class="status-side left" dir="ltr"></div>
    <div class="status-inner-container" dir="ltr">
      <div class="play-button-container" dir="ltr">
        <div class="butter-btn btn-green status-button" title="{{ gettext("Play/Pause media") }}" dir="ltr">
          <span class="icon icon-white icon-only icon-play" dir="ltr"></span>
        </div>
      </div>
      <div class="mute-button-container" dir="ltr">
        <div class="status-button" title="Toggle volume on/off" dir="ltr">
          <span class="icon icon-white icon-only icon-volume-down" dir="ltr"></span>
        </div>
      </div>
      <div class="time-wrapper" dir="ltr">
        <div class="time-container" dir="ltr">
          <span class="current-time" dir="ltr">0:00</span>
          /
          <input class="duration-input" type="text" value="0:00" dir="ltr">
        </div>
      </div>
    </div>
    <div class="status-side right" dir="ltr"></div>
  </div>
  <button class="butter-btn btn-light add-track" title="{{ gettext("Add a layer") }}" dir="ltr">{{ gettext("Add a layer") }}</button>
</div>
