<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="{{author}}">
    <meta name="description" content="Created with Popcorn Maker - part of the Mozilla Webmaker initiative">
    <meta property="og:title" content="{{projectName}}">
    <meta property="og:type" content="video.other">
    <meta property="og:url" content="{{embedShellSrc}}">
    <meta property="og:image" content="{{thumbnail}}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="200">
    <meta property="og:image:height" content="200">
    <meta property="og:description" content="{{description}}">
    <meta property="og:site_name" content="Mozilla Webmaker">

    <title>{{projectName}} - Popcorn Maker</title>
    <link rel="stylesheet" href="{{baseHref}}/css/makedetails.css">
    <link rel="stylesheet" href="{{baseHref}}/css/embed-shell.css">
    <script src="{{makeEndpoint}}/js/make-api.js"></script>
    {% include "googleanalytics.html" %}
  </head>
  <body>
    <main id="content" class="content clearfix">
      <div class="hide make-details">
        <div class="wrapper">
          <div class="remixed-from">
            <div class="remix-info"><span class="remixed-from-txt">Remixed from </span><span class="remixed-user"> daleee</span><a href="#"><img src="http://placecage.com/210/120" alt="ORIGINAL TITLE" class="original-thumb"></a></div>
            <div class="remixed-by">PLACEHOLDER</div>
          </div>
          <div class="make-details-deets">
            <h1 class="make-title">{{projectName}}</h1>
            <div class="make-made-by"><a href="#"><img class="make-user-gravatar" src="http://fillmurray.com/35/35" alt="USER NAME"></a>
              <div class="made-by">Made by <a href="#">PLACEHOLDER</a><span class="make-relative-date">PLACEHOLDER</span></div>
            </div>
            <div class="make-tools-languages"><span class="built-with">Built with</span><a href="//popcorn.webmaker.org"><img src="{{baseHref}}/resources/icons/icon-Popcorn.png" alt="WEBMAKER TOOL"><span class="tool-name">Popcorn</span></a><span class="languages">Languages</span>
            </div>
            <p class="make-desc">{{description}}</p>
          </div>
        </div>
      </div>
      <div class="make-bar">
        <div class="wrapper"><span class="logospan"><a href="#"><img src="{{baseHref}}/resources/img/logo_small.png" alt="Mozilla Webmaker"></a><span class="made-with">Made with<a href="//webmaker.org"> Webmaker</a></span></span><span class="expand-collapse">Details<img src="{{baseHref}}/resources/icons/icon-arrow-down.png"></span>
          <div class="make-social">
            <ul>
              <li class="button"><a href="{{remixUrl}}" target="_blank" class="button-remix"><span>Remix</span></a></li>
            </ul><span class="clear"></span>
          </div>
        </div>
      </div>
      <iframe id="embed" src="{{embedSrc}}" width="1280" height="745" mozallowfullscreen="mozallowfullscreen" webkitallowfullscreen="webkitallowfullscreen" allowfullscreen="allowfullscreen"></iframe>
    </main>
    <div class="mobile"></div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        var img_path = "{{baseHref}}/resources/icons/",
            img_up = "icon-arrow-up.png",
            img_down = "icon-arrow-down.png",
            animationSpeed = 200,
            $toggle = $(".expand-collapse"),
            $details = $(".make-details"),
            $arrow = $("img", $toggle),
            nav_open = false,
            options = {
              duration: animationSpeed,
              easing: "linear"
            },
            toggleNav = function( e ) {
              e.preventDefault();
              $details.slideToggle(options);
              if (nav_open === true) {
                nav_open = false;
                $arrow.attr("src", img_path + img_down);
              } else {
                nav_open = true;
                $arrow.attr("src", img_path + img_up);
              }
            };
        $toggle.on("click", toggleNav);
      });
      var client = Make({
            apiURL: "{{makeEndpoint}}"
          }),
          remixedFrom,
          locales = [];

      function toPrettyString( ms ) {
        var round = Math.round,
            t, seconds, minutes, hours, days;

        t = ms / 1000;
        seconds = ( t % 60 ) | 0;
        t /= 60;
        minutes = ( t % 60 ) | 0;
        t /= 60;
        hours = ( t % 24 ) | 0;
        t /= 24;
        days = t | 0;

        if( days >= 1 ) {
          return "" + ( days === 1 ? "a day" : days + " days" );
        } else if( hours >= 1 ) {
          return "" + ( hours === 1 ? "an hour" : hours + " hours" );
        } else if( minutes >= 1 ) {
          return "" + ( minutes === 1 ? "a minute" : minutes + " minutes" );
        } else {
          return "less than a minute";
        }
      }

      function getProjectChildren() {
        client.remixedFrom( "{{makeID}}" ).then(function( err, results ) {
          if ( results && results.length ) {
            var ul = document.createElement( "ul" );

            $( ".remixed-by" ).html( results.length + " remixes by " );
            ul.className = "remix-children";
            $( ".remixed-by" ).append( ul );

            // 4 is used here to prevent too many names being listed
            for ( var i = 0; i < results.length && i < 4; i++ ) {
              var result = results[ i ];

              if ( locales.indexOf( result.locale ) === -1 ) {
                locales.push( result.locale );
                var locale = document.createElement( "li" );

                locale.className = "lang-item";
                locale.innerHTML = result.locale === "en_us" ? "English" : result.locale;

                $( ".langs" ).append( locale );
              }

              var remixuser = document.createElement( "li" );

              remixuser.innerHTML = "<a href='#'>@" + result.username + "</a>";

              ul.appendChild( remixuser );
            }
          } else {
            $( ".remixed-by" ).css( "display", "none" );
          }
        });
      }

      function getProjectParent() {
        if ( remixedFrom ) {
          client.id( remixedFrom ).then(function( err, result ) {
            if ( result && result.length ) {
              $( ".remixed-user" ).html( result[ 0 ].username );
              $( ".original-thumb" ).attr( "src", result[ 0 ].thumbnail );

              getProjectChildren();
            }
          });
        } else {
          $( ".remixed-from" ).css( "display", "none" );
          getProjectChildren();
        }
      }

      client.id( "{{makeID}}" ).then(function( err, result ) {
        if ( result && result.length ) {
          var li = document.createElement( "li" );

          li.className = "lang-item";
          li.innerHTML = result[ 0 ].locale === "en_us" ? "English" : result[ 0 ].locale;

          locales.push( result[ 0 ].locale );

          $( ".made-by > a" ).html( result[ 0 ].username );
          $( ".make-user-gravatar" ).attr( "src", "http://gravatar.com/avatar/" + result[ 0 ].emailHash + "?s=26" );
          $( ".make-relative-date" ).html( toPrettyString( Date.now() - result[ 0 ].createdAt ) + " ago" );
          $( ".langs" ).append( li );
          remixedFrom = result[ 0 ].remixedFrom;

          return getProjectParent();
        }

        getProjectParent();
      });
    </script>
  </body>
</html>
