doctype 5
html
  head
    title Oops, you've found an error
    link(rel="stylesheet", href="/css/error.css")
  body
    h1 #{status}
    h2 #{message}
    p Go back to&nbsp;
      a(href="/") the homepage
