{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
  <div class="main-gallery">
    <div class="gutter-sizer"></div>
    <div class="grid-sizer"></div>
  </div>
  <div class="make"></div>
  <div class="make-back">
    <p>Made at <b class="place"></b> by <b class="author"></b></p>
    <p>Using TOOL and TEMPLATE</p>
    <span class="description"></span>
  </div>
  <div class="event-back">
    <h4 class="event-title"></h4>
    <p><span class="date"></span></p>
    <p><span class="place"></span></p>
    <p><span class="description"></span></p>
    <p>Organized by <span class="organizer"></span></p>
  </div>
{% endblock %}
