{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
  <div class="main-gallery">
    <div class="gutter-sizer"></div>
    <div class="grid-sizer"></div>
  </div>
  <div class="make" style="display: none;"></div>
  <div class="make-back" style="display: none;">
    Made at <span class="place bold"></span> by <span class="author bold"></span><br />
    Using TOOL and TEMPLATE<br /><br />
    <span class="description"></span>
  </div>
  <div class="event-back" style="display: none;">
    <h4 class="event-title"></h4>
    <span class="date"></span><br />
    <span class="place"></span><br /><br />
    <span class="description"></span><br />
    Organized by <span class="organizer"></span>
  </div>
{% endblock %}
