<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %} - My Webpage</title>
  {% block head %}
    <link rel="stylesheet" href="{{ personaSSO }}/css/nav.css" />
    <link rel="stylesheet" href="ext/css/font-awesome.css">
    <link rel="stylesheet" href="css/style.css">
  {% endblock %}
</head>
<body id="{{ page }}" data-endpoint="{{ makeEndpoint }}">
  <div id="webmaker-nav">
    <nav class="webmaker-nav-container">
      <ul class="webmaker-nav primary">
        <li><a>Webmaker</a></li>
      </ul>
      <ul class="webmaker-nav user-info">
        <li class="user">
          <div class="user-name">
            <span id="identity" class="user-name-container"></span>
          </div>
        </li>
        <li><iframe id="SSO" src="{{ personaSSO }}"></iframe></li>
      </ul>
    </nav>
  </div>
  <header id="main-header" class="main-header">
    <img class="logo" src="img/logo.png" alt="Mozilla Webmaker">
    <ul class="nav-list">
      <li><a href="/" {% if page == 'index' %}class="on"{% endif %}>Make what?</a></li>
      <li><a href="/learn" {% if page == 'learn' %}class="on"{% endif %}>Learn</a></li>
      <li><a href="/teach" {% if page == 'teach' %}class="on"{% endif %}>Teach</a></li>
      <li><a href="/party" {% if page == 'party' %}class="on"{% endif %}>Party</a></li>
      <li><a class="icon-search" id="nav-search" href="/search"></a></li>
    </ul>
  </header>
  <div id="content" class="content clearfix">{% block body %}{% endblock %}</div>
  <footer class="footer"></footer>
  <div class="mobile"></div>
  <script src="{{ personaSSO }}/js/sso.js"></script>
  <script src="{{ makeEndpoint }}/js/make-api.js"></script>
  {# Packery is not ready to be integrated w/ requirejs https://github.com/metafizzy/packery/issues/20 #}
  <script src="ext/js/packery.js"></script>
  <script src="ext/js/require.js" data-main="js/config"></script>
  {% block scripts %}{% endblock %}
</body>
