<!doctype>
<html lang="en">
<head>
  {% block head %}
  <link rel="stylesheet" href="{{ personaSSO }}/css/nav.css" />
  <link rel="stylesheet" href="ext/css/font-awesome.css">
  <link rel="stylesheet" href="css/style.css">
  <title>{% block title %}{% endblock %} - My Webpage</title>
  {% endblock %}
</head>
<body>
   <div id="webmaker-nav">
    <nav class="webmaker-nav-container">
      <ul class="webmaker-nav primary">
        <li><a>Webmaker</a></li>
      </ul>

      <ul class="webmaker-nav user-info">
        <li class="user">
          <div class="user-name">
            <span id="identity" class="user-name-container"></span>
          </div>
        </li>
        <li><iframe id="SSO"></iframe></li>
      </ul>
    </nav>
  </div>
  <header id="main-header" class="main-header">
    <img class="logo" src="img/logo.png">
    <ul class="nav-list">
      <li><a id="nav-index" href="/">Make what?</a></li>
      <li><a id="nav-learn" href="/learn">Learn</a></li>
      <li><a id="nav-teach" href="/teach">Teach</a></li>
      <li><a id="nav-party" href="/party">Party</a></li>
      <li><a class="icon-search" id="nav-search" href="/search"></a></li>
    </ul>
  </header>

  <div id="content" class="content clearfix">{% block body %}{% endblock %}</div>

  <footer class="footer"></footer>

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
  <script src="{{ personaSSO }}/js/sso.js"></script>
  <script src="{{ makeEndpoint }}/js/make-api.js"></script>
  <script src="ext/js/packery.js"></script>
  <script src="js/main.js"></script>
  <script>
    document.getElementById( "nav-{{ page }}").classList.add( "on" );
    var wm = new Webmaker();
    wm.init({
      page: "{{ page }}",
      makeURL: "{{ makeEndpoint }}"
    });
  </script>
  {% block scripts %}{% endblock %}

  </div>
  </div>
</body>
