@import "globals";
@import "webfonts";

@controlsHeight: 43px;
@small: 560px;
@medium: 640px;
@large: 853px;
@xlarge: 1280px;

.height-width( @width ) {
  width: @width;
  height: (.5625 * @width ) + @controlsHeight;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  background: #FFF;
}

.preview-message {
  display: none;
}

.wrapper {
  margin: 0 auto;
}

#embed {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  overflow: hidden;
  display: block;
  margin: 1em auto 0;
}

/*********************************************************
* Media queries
*/
@media only screen and ( max-width: @medium ) {
  #embed {
    .height-width( @small );
  }
  .wrapper {
    width: @small;
  }
}

@media only screen and ( min-width: @medium ) {
  #embed {
    .height-width( @medium );
  }
  .wrapper {
    width: @medium;
  }
}

@media only screen and ( min-width: @large ) {
  #embed {
    .height-width( @large );
  }
  .wrapper {
    width: @large;
  }
}

@media only screen and ( min-width: @xlarge ) {
  #embed {
    .height-width( @xlarge );
  }
  .wrapper {
    width: @xlarge;
  }
}
