/*********************************************************
* HEADER
*/
@import "../external/persona-btn/persona-btn";

@_logoWidth: 220px;

// Used to position absolute elements in the middle of our header bar area
@HEADER_ALIGN_MIDDLE: 2.7;

// Adds room to template to account for header
.butter-header-spacing {
  padding-top: @HEADER_SPACING;
}

.butter-editor-spacing {
  .butter-header {
    right: 0;
  }
}

.butter-header {
  z-index: @HEADER_Z_INDEX;
  position: fixed;
  left: 0;
  top: 0;
  right: @EDITOR_WIDTH;
  height: @HEADER_SPACING;
  .transition( all .2s ease-in-out );

  // Used to overwrite collisions from nav.css included for userbar.
  a:hover {
    text-decoration: none;
  }
}

/*********************************************************
* Primary white nav bar
*/

.butter-header-primary {
  position: relative;
  background: #FFF;
  color: lighten( @baseText, 10% );
  height: 62px;
  text-shadow: 0 1px 0 #FFF;
  font-size: 0.95em;
  border-bottom: 1px solid darken( @editorOutline, 10% );
  box-shadow: 0 -1px 10px 0 rgba( 0, 0, 0, 0.1 );
  .clearfix();
}

.butter-logo {
  position: absolute;
  top: 0;
  left: 15px;
  height: 62px;
  width: @_logoWidth;
  background: url( "../resources/popcorn-logo.svg" ) center no-repeat;
  background-size: contain;
}

.butter-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  margin-left: @_logoWidth + 30;
  list-style: none;
  width: 60%;
  height: @HEADER_SPACING;
  line-height: @HEADER_SPACING;
  > li {
    float: left;
    &.butter-breadcrumbs {
      position: relative;
      padding: 0;
      margin-right: 10px;
      width: 1px;
      height: 100%;
      border-right: 1px solid @baseLightOutline;
      .triangle( "right", 5px, #FFF, 1px, @baseLightOutline );
    }
  }
}

.butter-project-menu {
  float: right;
  margin-right: 20px;
}

.butter-project-title-container {
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  color: @baseText;
  cursor: pointer;
  padding-left: 20px;
  min-width: 10%;
  height: 100%;
  position: relative;
}

.makes-url {
  font-size: 14px;
  margin-right: 5px;
}

.butter-project-title {
  position: relative;
  display: inline-block;

  &.no-click {
    cursor: wait;
  }

   input {
    border: 1px solid @green;
    border-radius: 2px;
    padding: 5px;
    color: @green;
    &:focus {
      outline: none;
    }
  }

  a.butter-project-name {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 400px;
    color: @baseText;
    font-size: 17px;
    &:hover {
      color: @green;
    }
  }
}

.butter-project-link {
  font-size: 18px;
  position: relative;
  &.tooltip-show {
    color: #000;
  }
  &.butter-disabled {
    display: none;
  }
}

.butter-btn-menu-container {
  margin-top: 10px;
}

#logout-btn {
  position: relative;
}

// Temporary overriding classes.

#webmaker-nav {
  float: right;
}
.webmaker-nav-container {
  background: #FFFFFF;
  overflow: visible;
  padding: 0;
}
.user-info > li {
  margin: 16px 25px 16px 0;
}

#identity > a {
  text-decoration: none;
}

// avatar
#user-menu .butter-btn-menu-control {
  padding-left: 45px;
  img {
    position: absolute;
    left: 10px;
    top: 5px;
    border-radius: 50%;
    width: 26px;
    height: 26px;
  }
}

.my-projects-container.open {
  top: @HEADER_SPACING;
  position: absolute;
  width: 100%;
}

#persona-iframe {
  border: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

}

/*********************************************************
* Buttons
*/

.butter-header {
  .butter-btn {
    text-shadow: none;
  }
}
