body {
  background: #F5F5F5;
  color: #555;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

/*********************************************************
* HEADER
*/
.main-header {
  height: 83px;
  margin-bottom: 1em;
  border-bottom: 1px solid #DDD;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.logo {
  margin-top: 5px;
  float: left;
}

.nav-list {
  float: left;
  list-style: none;
  margin: 0 0 0 2em;
  padding: 0;
}
.nav-list > li {
  display: inline-block;
}
.nav-list > li  > a {
  display: block;
  color: #999;
  line-height: 83px;
  height: 83px;
  text-decoration: none;
  padding: 0 1em;
}
.nav-list > li  > .on {
  background: #5A5A5A;
  color: #FFF;
}
.nav-list > li  > a:hover {
  color: #B1E8DB;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}


/*********************************************************
* MAIN
*/

.content,
.footer {
  display: block;
  padding: 1em;
}

/*********************************************************
* MAKE
*/

.make {
  position: relative;
  width: 200px;
  height: 150px;
  padding: 1em;
  border: 1px solid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.make-popcorn {
  color: #3FB58E;
}

.make-big {
  width: 400px;
}

.make-thimble {
  color: #63D9E5;
}
