<!-- This Source Code Form is subject to the terms of the MIT license
If a copy of the MIT license was not distributed with this file, you can
obtain one at http://www.mozillapopcorn.org/butter-license.txt -->

<div class="butter-dialog">
  <div class="butter-form">
    <fieldset>
      <h2>{{ gettext("Popcorn Maker found an automatic backup for your project:") }} "<span class="butter-backup-project-name"></span>".</h2>
      <p>{{ gettext("Looks like you had unsaved changes") }} "<span class="butter-backup-project-name"></span>" {{ gettext("from") }} <span class="butter-backup-date"></span>. {{ gettext("Do you want to load this project") }}</p>
    </fieldset>
    <fieldset>
      <button id="yes" class="butter-btn btn-green butter-backup-load">{{ gettext("Yes, load this backup") }}</button>
      <button id="no" class="butter-btn btn-red butter-backup-discard">{{ gettext("No, discard my changes") }}</button>
    </fieldset>
  </div>
</div>
