<div class="attribution-media">
  <span class="container-label">Media</span>
</div>

<div class="data-container media">
  <span class="media-icon"></span>
  <a target="_blank" class="attribution-media-src"></a>
  <br>
</div>

<div class="attribution-images">
  <span class="container-label">Images</span>
</div>

<div class="data-container image">
  <img class="media-icon" src="/resources/icons/" alt="flickr">
  <a target="_blank" class="attribution-media-src"></a>
  <br>
</div>

<div class="attribution-extra">
  <span class="container-label">Maps</span>
  <div class="data-container map"></div>
</div>
