<div class="butter-header" data-butter-exclude>
  <script src="{{user_bar}}/js/sso-ux.js"></script>
  <header class="butter-header-primary">
    <div class="butter-logo"></div>
    <ul class="butter-nav">
      <li class="butter-breadcrumbs"></li>
      <li class="butter-project-title">
       <a class="butter-project-name">My Cool Remix</a><i class="icon icon-pencil"></i>
      </li>
      <li>
        <div class="butter-btn-menu-container">
          <a class="butter-btn btn-green butter-save-btn"><span class="icon icon-only icon-white icon-save"></span></a>
          <a class="butter-preview-btn butter-btn btn-light butter-disabled" target="_blank"><span class="icon icon-only icon-share-alt"></span></a>
          <a class="butter-clear-events-btn butter-btn btn-light butter-disabled" target="_blank"><span class="icon icon-only icon-trash"></span></a>
          <a class="butter-tutorial-btn butter-btn btn-light butter-disabled" target="_blank"><span class="icon icon-only icon-question-sign"></span></a>
        </div>
      </li>
    </ul>
    <!-- webmaker user bar -->
    <div id="webmaker-nav">
      <nav class="webmaker-nav-container">
        <ul class="webmaker-nav user-info">
          <li class="user">
              Hi <span id="identity" class="user-name-container"></span>
          </li>
          <li class="makes"><button>My makes</button></li>
          <li>
            <iframe src="{{audience}}/sso/include.html" class="include-frame"></iframe>
          </li>
        </ul>
      </nav>
      <div class="my-projects-container">
        <iframe class="my-projects-iframe"></iframe>
      </div>
      <div class="tutorial-list">
        <div class="tutorial-arrow"></div>
      </div>
    </div>
  </header>
</div>