<div class="butter-header" data-butter-exclude>
  <script src="{{user_bar}}/js/sso-ux.js"></script>
  <header class="butter-header-primary">
    <div class="butter-logo"></div>
    <ul class="butter-nav">
      <li class="butter-breadcrumbs"></li>
      <li class="butter-project-title-container">
      <label class="makes-url"></label>
      <span class="butter-project-title">
        <a class="butter-project-name">My Cool Remix</a>
      </span>
      </li>
      <li>
        <a target="_blank" class="butter-project-link butter-preview-btn butter-btn"><span class="icon-link"></span></a>
      </li>
    </ul>

    <!-- webmaker user bar -->
    <div id="webmaker-nav">
      <nav class="webmaker-nav-container">

        <ul class="webmaker-nav user-info">
          <li class="user">
              Hi <span id="identity" class="user-name-container"></span>
          </li>
          <li class="tutorial-btn hidden"><button>Tutorials</button></li>
          <li class="makes"><button>My makes</button></li>
          <li>
            <iframe src="{{audience}}/sso/include.html" class="include-frame"></iframe>
          </li>
        </ul>
      </nav>

      <div class="butter-btn-menu-container butter-project-menu">
        <a class="butter-btn btn-white butter-project-menu-control butter-btn-menu-control"><span class="icon-reorder"></span> Options</a>
        <ul class="butter-btn-menu">
          <li><a class="butter-btn" href="/" target="_blank">
            <span class="icon icon-file-alt"></span> New</a>
          </li>
          <li><a class="butter-btn butter-clear-events-btn" target="_blank">
            <span class="icon icon-remove"></span> Clear Events</a>
          </li>
          <!-- <li><a class="butter-btn" target="_blank">
            <span class="icon icon-trash"></span> Delete Project</a>
          </li> -->
        </ul>
      </div>

      <div class="my-projects-container">
        <iframe class="my-projects-iframe"></iframe>
      </div>
      <div class="tutorial-list">
        <div class="tutorial-arrow"></div>
      </div>
    </div>
  </header>
</div>
