<div class="butter-editor project-editor allow-scrollbar">
  <ul class="butter-editor-tabs">
    <li><a class="butter-btn project-tab settings-tab-btn butter-active" data-tab-name="settings">Settings</a></li>
    <li><a class="butter-btn butter-view-source-btn" target="_blank" data-tab-name="view-source">View Source</a></li>
  </ul>
  <div class="butter-editor-body butter-tabs-spacing scrollbar-container">
    <div class="scrollbar-outer scrollbar-inner">
      <div class="error-message-container">
        <div class="error-message"></div>
      </div>

      <!-- Settings Container -->
      <div class="settings-container editor-container">
        <label>Title</label>
        <div class="description-wrapper">
          <input class="butter-project-title title-input">
        </div>
        <label>Description</label>
        <div class="description-wrapper">
          <textarea class="butter-project-description description-input" maxlength="200" placeholder="A project about..."></textarea>
        </div>
        <div class="color-container">
          <label class="property-name">Background color</label>
          <div class="butter-form-append">
            <input class="value butter-project-background-colour" type="text"/>
            <span class="color-picker-toggle butter-unit"></span>
          </div>
          <div class="color-picker hidden"></div>
        </div>

        <div class="butter-save-container">
          <button class="butter-btn btn-green butter-save-btn">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
