<div id="butter-super-scrollbar-outer-container" dir="ltr">
  <div class="butter-super-scrollbar-zoom-slider-container" dir="ltr">
    <span class="tick"></span>
    <span class="tick"></span>
    <span class="tick"></span>
    <span class="tick"></span>
    <span class="tick"></span>
    <span class="tick"></span>
    <div class="butter-super-scrollbar-zoom-slider" dir="ltr">
      <div class="butter-super-scrollbar-zoom-handle" dir="ltr"></div>
    </div>
  </div>
  <div id="butter-super-scrollbar-inner-container" dir="ltr">
    <div id="butter-super-scrollbar-visuals" dir="ltr"></div>
    <span id="butter-super-scrollbar-viewport" dir="ltr">
      <span class="butter-super-scrollbar-border"></span>
      <span id="butter-super-scrollbar-handle-left" class="butter-super-scrollbar-handle">
        <span class="butter-super-arrow"></span>
      </span>
      <span id="butter-super-scrollbar-handle-right" class="butter-super-scrollbar-handle">
        <span class="butter-super-arrow"></span>
      </span>
    </span>
    <span id="buter-super-scrollbar-scrubber" dir="ltr"></span>
  </div>
</div>
